{% extends 'base.html.twig' %}

{% block title %}
    {{ parent () }} | Contact
{% endblock %}

{% block body %}
    <div class="contacts">
        <h2>Contact page!</h2>
        {{ form_start(viewForm) }}
        {{ form_widget(viewForm) }}
        <button class="btn button">Send</button>
        {{ form_end(viewForm) }}
    </div>
{% endblock %}