{% extends 'base.html.twig' %}


{% block body %}
{{ translated }}
<div class="welcome">
    <div class="wel-text">
        <h2>{% trans %}NewZealand{% endtrans %}</h2>
        <h4>Where magic happens!</h4>
        <a class="button btn btn-lg">Travel with us</a>
    </div>
</div>
<div class="pres">

</div>

{% endblock %}