{% extends 'base.html.twig' %}


{% block body %}

<div class="welcome">
    <div class="wel-text">
        <h2>New Zealand</h2>
        <h4>Where magic happens!</h4>
        <a class="button">Travel with us</a>
    </div>
</div>

{% endblock %}
