.contacts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  form{
    background: $black;
    color:$white;
    padding: 2rem;
    width: 50rem;
    margin-bottom: 3rem;
    label{
      font-size: 1.5rem;
    }
  }
  .c-infos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
      font-size: 1.5rem;
      p{
        margin: auto 0;
        padding:0;
      }
      .img-box{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          width: 3rem;
        }
    }
  }
}