
.experiences{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .card{
    background: $black;
    color: $white;
    width: 60rem;
    margin: 2rem;
    img{
      width: 100%;
    }
    .card-content {
      h3{
        font-size: 4rem;
      }
      p {
        font-size: 2.3rem;
        text-align: end;
      }
      span {
        font-size: 2rem;
        color: $green;
      }
    }
    .buttons{
      display: flex;
      justify-content: space-around;
    }
  }
}

//DETAILS//

.detail{
  display: flex;
  align-items: center;
  background: $black;
  color: $white;
  img{
    width: 40rem;
  }
  .detail-info{
  h3{
    font-size: 2rem;
    text-align: end;
    span{
      color: $green;
    }
  }
  }
}

//ADD//
.add{
  form{
    background: $black;
    color:$white;
    padding: 2rem;
    margin-bottom: 1rem;
  }
}

