@import "~bootstrap/scss/bootstrap";

$white : #F5F5F5F5;
$black : #0B0B0B;
$blue : #003C97;
$green : #00700B;
$merienda : 'Merienda', cursive;
$roboto : 'Roboto Condensed', sans-serif;


body {
    background: $white;
}