@import "~bootstrap/scss/bootstrap";

$white : #F5F5F5F5;
$black : #0B0B0B;
$transparentblack :rgba(11, 11, 11, 0.60);
$blue : #003C97;
$green : #00700B;
$merienda : 'Merienda', cursive;
$roboto : 'Roboto Condensed', sans-serif;
html{
    width: 100%;
}
body {
    background: $white;
    font-family: 'Roboto Condensed', sans-serif;
    h2{
        font-size: 4rem;
    }
}
//HEADER//
header{
    background: $black;
    color:$white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    //LOGO AND TITLE
    .site-id{
        display: flex;
        align-items: center;
        img{
            width: 8rem;
        }
        h1{
            font-family: $merienda;
            font-size: 4rem;
            margin: auto;
        }
    }
    //NAV
    nav{
        display: flex;
        flex-direction: row;
        a{
            color:$white !important;
            font-size: 1.8rem;
            border-bottom: 0.2rem solid transparent;
        }
        a:hover, a:focus, a:active{
            border-bottom: 0.2rem solid $green;
            transition: all 1s ease;
        }
        .dropdown-menu{
            background: $black;
            color:$white;
            a{
                border-bottom: 0.2rem solid transparent;
            }
            a:hover, a:focus, a:active{
                border-bottom: 0.2rem solid $green;
                background: $black;
                color:$white;
            }
        }
    }
}
.button{
    background: $blue !important;
    color:$white !important;
}
.button:hover, .button:focus, .button:active{
    background: $white  !important;
    color: $blue !important;
    transition: all .8s ease;
}
.p404{
    min-height: 65vh;
}
.message{
    background: $green;
    padding:2rem;
    color:$white;
}
footer{
    background: $black;
    color: $white;
    width: 100%;
}

@import "./Home";
@import "./Experiences";
@import "./Contact";
@import "./Admin";
@import "./Login";