<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="container-fluid p-0 m-0">
    <header class="container-fluid p-3">
        <div class="site-id">
            <a href="{{ path('app_main') }}"><img src="../assets/images/NZLogo.png" alt="Logo"></a>
            <h1>Visit Nz</h1>
        </div>
        <nav>
            <a href="#" class="nav-link">HOME</a>
            <a href="#" class="nav-link">OUR EXPERIENCES</a>
            <a href="#" class="nav-link">CONTACTS</a>
        </nav>
    </header>
        {% block body %}{% endblock %}
    <footer class="footer mt-auto py-3 ps-3">
        <p>Copyrights&copy; : Laura et Maëlle, 2022.</p>
    </footer>
    </body>
</html>
